.logo img {
  height: 15%;
  width: 13%;
  float: right;
  padding-right: 5%;
}

header {
  padding-bottom: 1%;
  padding-top: 1%;
  background-color:cornflowerblue;
}

body {
  background-color:rgb(221, 199, 246);
  cursor: url("images/cursor.png"), wait;
}

h2 {
  font-size: 70px;
  font-family: "Baskerville Old Face", sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 10%;
  padding-top: 1%;
}

img {
  width: 150px;
  cursor: url("images/cursor.png"), wait;
}

.buttons {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  word-spacing: 120px;
}